<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.csh.cmfz.dao.LogDao">

	<insert id="insertLog">
		insert into t_log values(#{log.logId},#{log.managerName},#{log.time},#{log.resource},
		#{log.action},#{log.message},#{log.result})
	</insert>

	<select id="selectAllLogsOnPage" resultType="Log">
		select
			log_id as logId,
			manager_name as managerName,
			time,resource,action,message,result
		from t_log
		ORDER BY time
		limit #{begin},#{end}
	</select>

	<select id="selectCount" resultType="java.lang.Integer">
		select count(*) from t_log
	</select>

</mapper>
